.lightGallery .image-tile,
.lightGallery .image-select{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.lightGallery .image-tile .image_url{
	/*display: none;*/
	/*visibility: hidden;*/
	position: absolute;
	z-index: -1;
	width: 100%;
}
.form-group .input_form{
	position: relative;
	border: 2px dashed #f3f3f3;
	border-radius: 7px;
	width: 100%;
	max-width: 100%;
	height: 200px;
}
.form-group .input_form label{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 2;
	background-color: rgba(255, 255, 255, .5);
}
.form-group .input_form .image_loading{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.form-group .input_form .image_loading img{
	height: 100%;
}
.gallery_modal{

}
.form-group.note-form-group.note-group-select-from-files{
	display: none !important;
}
.auth form .auth-form-btn{
	color: #fff;
}
.gallery_wrapper .image-tile{
	flex: 0 0 12.5%;
	padding: 0 5px;
}
.form-control{
	border: 1px solid #7571f9;
}
